
:root{

    --txt-color:#000;
    --ui-color:#e4e5f1;
    --bg-color:#fafafa;

}

@media (prefers-color-scheme: dark) {

    :root{

        --txt-color:#FFF;
        --ui-color:#1A191B;
        --bg-color:#25242A;
        --inside-bg:#29292e;
    }

}

span{

    display:inline

}

ul{

    background-color: var(--inside-bg);
    border-radius: 25px;

}

p,h2 {

    font-family: DM Sans, Roboto, -apple-system, Segoe UI, sans-serif;
    color: var(--txt-color);
    max-width: 800px;
}

p.smaller{

    font-size:small;
    font-style:italic;

}

img{

    background-color: var(--ui-color);
    border-radius: 25px;

}

p.not_white{

    color:#29292e;

}

body{
	background-color: var(--bg-color);
}

.accordion {
  background-color:var(--ui-color);
  color: #FFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: 0px 0px 25px #00000070
}

.active, .accordion:hover {
  background-color: #1a1a1a;
}

.accordion:after {
  content: '\002B';
  color: #494949;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: var(--inside-bg);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

